@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal 1em Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    /* view hight */
    width: 100vw;
    /* view width */
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;

}

section#redes-sociais a img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.317);
    /* O parãmetro "border-sizing: border-box;" faz com que a borda faça parte da caixa */
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.751);
    /* O prâmetro "transform: translate();" no ":hover" permite editar quanto a caixa vai se mover ao passamos o cursor pro cima da mesma */
    /* Neste caso "-3px" para esqyerda e "-3px" para cima */
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    /* O parãmetro "transition: transform 0.5s;" me permite adicionar um pequeno delay de animação na caixa selecionada */
    transition: transform 0.5s, border 0.5s;
}